<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Información</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <img src= 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Escudo_UdeG.svg/200px-Escudo_UdeG.svg.png'>
    
    <ion-card>
        <ion-card-content *ngIf="oferta.hasOwnProperty('materia')">
            <h2>Materia:</h2>  
          {{oferta.materia}}
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content *ngIf="oferta.hasOwnProperty('carrera')">
            <h2>Carrera:</h2>  
          {{oferta.carrera}}
        </ion-card-content>
    </ion-card>

  <ion-card>
      <ion-card-content *ngIf="oferta.hasOwnProperty('nrc')">
          <h2>NRC:</h2>  
        {{oferta.nrc}}
      </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-content *ngIf="oferta.hasOwnProperty('clave')">
          <h2>Clave:</h2>  
        {{oferta.clave}}
      </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-content *ngIf="oferta.hasOwnProperty('seccion')">
          <h2>Seccion:</h2>  
        {{oferta.seccion}}
      </ion-card-content>
  </ion-card>
  
  <ion-card>
      <ion-card-content *ngIf="oferta.hasOwnProperty('creditos')">
          <h2>Creditos:</h2>  
        {{oferta.creditos}}
      </ion-card-content>
  </ion-card>
  
  <ion-card>
      <ion-card-content *ngIf="oferta.hasOwnProperty('cupos_disponibles')">
          <h2>Cupos Disponibles:</h2> 
        {{oferta.cupos_disponibles}}
      </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-content *ngIf="oferta.hasOwnProperty('cupos_totales')">
          <h2>Cupos Totales:</h2>  
        {{oferta.cupos_totales}}
      </ion-card-content>
  </ion-card>
  
  <ion-card>
      <ion-card-content *ngIf="oferta.hasOwnProperty('hora_inicial')">
          <h2>Hora de inicio:</h2>  
        {{oferta.hora_inicial[0]}}
      </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-content *ngIf="oferta.hasOwnProperty('hora_final')">
          <h2>Hora de termino:</h2>  
        {{oferta.hora_final[0]}}
      </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-content *ngIf="oferta.hasOwnProperty('dias')">
          <h2>Dias que se imparte:</h2>  
        {{ oferta.dias[0]}}
      </ion-card-content>
      <ion-card-content *ngIf="oferta.hasOwnProperty('dias')">
          {{ oferta.dias[1]}}
      </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-content *ngIf="oferta.hasOwnProperty('edificio')">
          <h2>Edificio:</h2>  
        {{oferta.edificio[0]}}
      </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-content *ngIf="oferta.hasOwnProperty('aula')">
          <h2>Aula(s):</h2>  
        {{ oferta.aula[0]}}
      </ion-card-content>
      <ion-card-content *ngIf="oferta.hasOwnProperty('aula')">
          {{ oferta.aula[1]}}
      </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-content *ngIf="oferta.hasOwnProperty('periodo')">
          <h2>Periodo:</h2>  
        {{oferta.periodo[0]}}
      </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-content *ngIf="oferta.hasOwnProperty('profesor')">
          <h2>Profesor:</h2>  
        {{oferta.profesor}}
      </ion-card-content>
  </ion-card>

</ion-content>
